/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 --------------
 SIMPLE RESET
 --------------

 A simple reset, mostly just zeroing out margin, padding, and border

 Only thing complicated here is the introduction of border-box sizing
 url: http://www.paulirish.com/2012/box-sizing-border-box-ftw/

 We'll use normalize.css to get things looking similar across browsers

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* line 18, ../sass/partials/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* apply a natural box layout model to all elements */
/* line 30, ../sass/partials/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* normalize.css v1.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 22, ../sass/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 32, ../sass/vendor/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, ../sass/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, ../sass/vendor/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 72, ../sass/vendor/_normalize.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-size: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
  -ms-text-size-adjust: 100%;
  /* 4 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 89, ../sass/vendor/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 97, ../sass/vendor/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 109, ../sass/vendor/_normalize.scss */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 118, ../sass/vendor/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 132, ../sass/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 137, ../sass/vendor/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

/* line 142, ../sass/vendor/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 147, ../sass/vendor/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 152, ../sass/vendor/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

/* line 157, ../sass/vendor/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 166, ../sass/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 175, ../sass/vendor/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 179, ../sass/vendor/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 187, ../sass/vendor/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 196, ../sass/vendor/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 206, ../sass/vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
/* line 216, ../sass/vendor/_normalize.scss */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 227, ../sass/vendor/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 237, ../sass/vendor/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 247, ../sass/vendor/_normalize.scss */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 256, ../sass/vendor/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 265, ../sass/vendor/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 274, ../sass/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 281, ../sass/vendor/_normalize.scss */
sup {
  top: -0.5em; }

/* line 285, ../sass/vendor/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 300, ../sass/vendor/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

/* line 304, ../sass/vendor/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 314, ../sass/vendor/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 323, ../sass/vendor/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 337, ../sass/vendor/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 346, ../sass/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 358, ../sass/vendor/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 370, ../sass/vendor/_normalize.scss */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 378, ../sass/vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 390, ../sass/vendor/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 407, ../sass/vendor/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 420, ../sass/vendor/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 432, ../sass/vendor/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 449, ../sass/vendor/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 460, ../sass/vendor/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 472, ../sass/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 485, ../sass/vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 498, ../sass/vendor/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 507, ../sass/vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 517, ../sass/vendor/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 530, ../sass/vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * A better looking default horizontal rule
 */
/* line 13, ../sass/vendor/_html5bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 26, ../sass/vendor/_html5bp.scss */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 34, ../sass/vendor/_html5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 44, ../sass/vendor/_html5bp.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 52, ../sass/vendor/_html5bp.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 68, ../sass/vendor/_html5bp.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 76, ../sass/vendor/_html5bp.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 87, ../sass/vendor/_html5bp.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 96, ../sass/vendor/_html5bp.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 113, ../sass/vendor/_html5bp.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 126, ../sass/vendor/_html5bp.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 143, ../sass/vendor/_html5bp.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 148, ../sass/vendor/_html5bp.scss */
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 157, ../sass/vendor/_html5bp.scss */
.clearfix {
  *zoom: 1; }

/* RWD Resets
-------------------------------------------------------------- */
/*
@-ms-viewport {
  width: device-width;
}
*/
/* line 170, ../sass/vendor/_html5bp.scss */
html {
  overflow-y: auto; }

/* line 174, ../sass/vendor/_html5bp.scss */
img, video {
  max-width: 100%;
  height: auto; }

/*
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

    .                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
        .. |      ||               ||
         ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.0
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }

@font-face {
  font-family: "fizzy-icon-font";
  src: url('/fonts/fizzy-icon-font/fizzy-icon-font.eot');
  src: url('/fonts/fizzy-icon-font/fizzy-icon-font.eot?#iefix') format('eot'), url('/fonts/fizzy-icon-font/fizzy-icon-font.woff') format('woff'), url('/fonts/fizzy-icon-font/fizzy-icon-font.ttf') format('truetype'), url('/fonts/fizzy-icon-font/fizzy-icon-font.svg') format('svg'); }

/* line 312, ../sass/vendor/_typeplate.scss */
.ampersand {
  font-family: Ampersand, Verdana, sans-serif; }

/* line 404, ../sass/vendor/_typeplate.scss */
body, pre code {
  word-wrap: normal; }

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
/* line 529, ../sass/vendor/_typeplate.scss */
html {
  font: 500 100%/1.65 "ff-meta-serif-web-pro", "Georgia", serif; }

/* line 533, ../sass/vendor/_typeplate.scss */
body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #504f50; }

/* line 544, ../sass/vendor/_typeplate.scss */
small {
  font-size: 65%; }

/* line 567, ../sass/vendor/_typeplate.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0; }

/* line 582, ../sass/vendor/_typeplate.scss */
.tera {
  font-size: 6.5em;
  margin-bottom: 0.25385em; }

/* line 582, ../sass/vendor/_typeplate.scss */
.giga {
  font-size: 5em;
  margin-bottom: 0.33em; }

/* line 582, ../sass/vendor/_typeplate.scss */
.mega {
  font-size: 4em;
  margin-bottom: 0.4125em; }

/* line 582, ../sass/vendor/_typeplate.scss */
.alpha, h1 {
  font-size: 3.333em;
  margin-bottom: 0.49505em; }

/* line 582, ../sass/vendor/_typeplate.scss */
.beta, h2 {
  font-size: 2.667em;
  margin-bottom: 0.61867em; }

/* line 582, ../sass/vendor/_typeplate.scss */
.gamma, h3, .pullquote > p {
  font-size: 2em;
  margin-bottom: 0.825em; }

/* line 582, ../sass/vendor/_typeplate.scss */
.delta, h4 {
  font-size: 1.333em;
  margin-bottom: 1.23781em; }

/* line 582, ../sass/vendor/_typeplate.scss */
.epsilon, h5 {
  font-size: 1.16669em;
  margin-bottom: 1.41426em; }

/* line 582, ../sass/vendor/_typeplate.scss */
.zeta, h6 {
  font-size: 1em;
  margin-bottom: 1.65em; }

/* line 652, ../sass/vendor/_typeplate.scss */
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

/* line 660, ../sass/vendor/_typeplate.scss */
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap; }

/* line 665, ../sass/vendor/_typeplate.scss */
pre {
  white-space: pre; }

/* line 669, ../sass/vendor/_typeplate.scss */
code {
  white-space: pre;
  font-family: monospace; }

/* line 685, ../sass/vendor/_typeplate.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  /* line 687, ../sass/vendor/_typeplate.scss */
  abbr[title]:hover {
    cursor: help; }

/* line 701, ../sass/vendor/_typeplate.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #231f20; }

/* line 711, ../sass/vendor/_typeplate.scss */
p + .drop-cap {
  text-indent: 0;
  margin-top: 0; }

/* line 431, ../sass/vendor/_typeplate.scss */
.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

/* line 470, ../sass/vendor/_typeplate.scss */
.lining dt,
.lining dd {
  display: inline;
  margin: 0; }
/* line 477, ../sass/vendor/_typeplate.scss */
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre; }
/* line 485, ../sass/vendor/_typeplate.scss */
.lining dd + dd:before {
  content: ", "; }
/* line 489, ../sass/vendor/_typeplate.scss */
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/* line 497, ../sass/vendor/_typeplate.scss */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  /* line 501, ../sass/vendor/_typeplate.scss */
  .dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
/* line 507, ../sass/vendor/_typeplate.scss */
.dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  /* line 510, ../sass/vendor/_typeplate.scss */
  .dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 ------------
 TYPOGRAPHY
 ------------

 Set the base typographic styles, and make the body type responsive

 Many of the global settings have already been set via Typeplate
 And variables can be adjusted readily in the _fonts.scss module

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* Base typography
   ----------------------------------- */
/* line 20, ../sass/partials/_base-typography.scss */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* line 28, ../sass/partials/_base-typography.scss */
p {
  margin: auto auto 2em; }

/* line 33, ../sass/partials/_base-typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "freight-sans-pro", "Myriad Pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 700;
  letter-spacing: -0.04em;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none; }

/* Responsive typography
   ----------------------------------- */
@media (min-width: 37.5em) {
  /* line 51, ../sass/partials/_base-typography.scss */
  body {
    font-size: 112.5%; } }
@media (min-width: 50em) {
  /* line 51, ../sass/partials/_base-typography.scss */
  body {
    font-size: 125%; } }
@media (min-width: 64.375em) {
  /* line 51, ../sass/partials/_base-typography.scss */
  body {
    font-size: 137%; } }
@media (min-width: 75em) {
  /* line 51, ../sass/partials/_base-typography.scss */
  body {
    font-size: 150%; } }
@media (min-width: 106.875em) {
  /* line 51, ../sass/partials/_base-typography.scss */
  body {
    font-size: 162.5%; } }

/* Meta
   ----------------------------------- */
/* line 71, ../sass/partials/_base-typography.scss */
.meta, figcaption {
  color: #b7b7b7;
  font-family: "freight-sans-pro", "Myriad Pro", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1;
  font-weight: 400;
  margin-top: -1.6em;
  margin-bottom: 2em; }
  /* line 79, ../sass/partials/_base-typography.scss */
  .meta a, figcaption a {
    color: #b7b7b7; }
    /* line 82, ../sass/partials/_base-typography.scss */
    .meta a:hover, figcaption a:hover {
      color: #ff6666; }

/* Blockquotes
   ----------------------------------- */
/* line 90, ../sass/partials/_base-typography.scss */
blockquote {
  font-style: italic;
  margin: 0 auto; }

/* line 95, ../sass/partials/_base-typography.scss */
blockquote > p {
  font-style: italic;
  padding-left: 1em;
  border-left: 0.25em solid #ff6666;
  display: block; }
  /* line 101, ../sass/partials/_base-typography.scss */
  blockquote > p em {
    font-style: normal; }

/* Pullquotes
   ----------------------------------- */
/* line 108, ../sass/partials/_base-typography.scss */
.pullquote > p {
  padding: 0;
  border: none;
  line-height: 1.4;
  text-align: center; }
  @media (min-width: 37.5em) {
    /* line 108, ../sass/partials/_base-typography.scss */
    .pullquote > p {
      margin-left: -15%;
      margin-right: -15%; } }
  @media (min-width: 50em) {
    /* line 108, ../sass/partials/_base-typography.scss */
    .pullquote > p {
      margin-left: -3em;
      margin-right: -3em; } }

/* Footnotes
-------------------------------------------------------------- */
/* line 129, ../sass/partials/_base-typography.scss */
.footnotes {
  color: #b7b7b7;
  font-size: 0.875em; }

/* Figure Captions
   ----------------------------------- */
/* Ampersands
   ----------------------------------- */
/* Links
   ----------------------------------- */
/* line 4, ../sass/partials/_base-links.scss */
a {
  color: #ff6666;
  text-decoration: none; }
  /* line 8, ../sass/partials/_base-links.scss */
  a:hover {
    color: #ff4d4d; }

/* line 14, ../sass/partials/_base-links.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #231f20; }
  /* line 17, ../sass/partials/_base-links.scss */
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #ff6666; }

/* line 24, ../sass/partials/_base-links.scss */
nav a {
  color: white; }
  /* line 27, ../sass/partials/_base-links.scss */
  nav a:hover {
    color: white;
    text-decoration: underline; }

/* line 35, ../sass/partials/_base-links.scss */
footer a {
  color: white; }
  /* line 38, ../sass/partials/_base-links.scss */
  footer a:hover {
    color: #b3b3b3; }

/* Images
   ----------------------------------- */
/* line 4, ../sass/partials/_base-images.scss */
figure {
  margin-bottom: 2em;
  text-align: center; }

/* line 9, ../sass/partials/_base-images.scss */
figcaption {
  text-align: right;
  font-size: 65%;
  margin-top: 0.5em; }

/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 --------
 LAYOUT
 --------

 Basic site-wide layout

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* Containers
   ----------------------------------- */
/* line 20, ../sass/partials/_layout.scss */
.site-container,
.copy-container,
.hero-container {
  width: 88%;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 37.5em) {
  /* line 27, ../sass/partials/_layout.scss */
  .site-container {
    width: 80%; } }

@media (min-width: 37.5em) {
  /* line 33, ../sass/partials/_layout.scss */
  .copy-container {
    width: 80%; } }
@media (min-width: 50em) {
  /* line 33, ../sass/partials/_layout.scss */
  .copy-container {
    width: 60%; } }
@media (min-width: 64.375em) {
  /* line 33, ../sass/partials/_layout.scss */
  .copy-container {
    width: 50%; } }

@media (min-width: 48em) {
  /* line 45, ../sass/partials/_layout.scss */
  .hero-container {
    width: 100%; } }

/* line 52, ../sass/partials/_layout.scss */
.feature-container {
  *zoom: 1;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .feature-container:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 37.5em) {
  /* line 58, ../sass/partials/_layout.scss */
  .feature-container {
    *zoom: 1;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    .feature-container:after {
      content: "";
      display: table;
      clear: both; } }
/* Section Divisions
   ----------------------------------- */
/* line 65, ../sass/partials/_layout.scss */
article > section {
  margin-bottom: 4em; }

/* Header
-------------------------------------------------------------- */
/* line 4, ../sass/partials/_header.scss */
.header {
  text-align: center;
  background-color: #ff6666;
  margin-bottom: 4em;
  padding: 1em 0; }
  @media (min-width: 48em) {
    /* line 4, ../sass/partials/_header.scss */
    .header {
      padding: 0.8em 0; } }

/* line 16, ../sass/partials/_header.scss */
.logo {
  width: 180px; }
  @media (min-width: 48em) {
    /* line 16, ../sass/partials/_header.scss */
    .logo {
      float: left;
      margin-bottom: 0; } }

/* Footer
   ----------------------------------- */
/* line 4, ../sass/partials/_footer.scss */
footer {
  color: gray;
  background-color: #333333;
  padding: 2em 0 1em; }

/* line 10, ../sass/partials/_footer.scss */
.contact {
  margin: 2em 0 1em;
  padding: 0;
  text-align: center; }
  /* line 15, ../sass/partials/_footer.scss */
  .contact > li {
    list-style-image: none;
    list-style-type: none;
    margin-top: 0.5em;
    display: inline;
    padding: 0 1em; }
    /* line 22, ../sass/partials/_footer.scss */
    .contact > li:first-child {
      padding-left: 0; }
    /* line 26, ../sass/partials/_footer.scss */
    .contact > li:last-child {
      padding-right: 0; }
    /* line 30, ../sass/partials/_footer.scss */
    .contact > li [data-icon]:before {
      vertical-align: -15%; }

/* line 36, ../sass/partials/_footer.scss */
.colophon {
  font-size: 65%; }

/* line 40, ../sass/partials/_footer.scss */
.to-top {
  text-align: center;
  margin: 1em 0 2em; }

/* line 45, ../sass/partials/_footer.scss */
.copyright {
  font-size: 65%;
  text-align: center;
  margin-bottom: 0; }

/* Post List
   ----------------------------------- */
/* line 4, ../sass/partials/_post-list.scss */
.post-list {
  margin-bottom: 4em; }

/* line 8, ../sass/partials/_post-list.scss */
.post-list-item {
  margin-bottom: 3em; }
  /* line 11, ../sass/partials/_post-list.scss */
  .post-list-item .meta, .post-list-item figcaption {
    margin-bottom: 1em; }

/* Post Categories
   ----------------------------------- */
/* line 5, ../sass/partials/_post.scss */
.meta > .categories:before, figcaption > .categories:before {
  content: " ∙ "; }

/* Post Footer
-------------------------------------------------------------- */
/* line 12, ../sass/partials/_post.scss */
.post-footer {
  border-top: 1px solid #b7b7b7;
  padding-top: 1em;
  margin: 2em auto; }

/* line 18, ../sass/partials/_post.scss */
.post-footer > p {
  font-family: "freight-sans-pro", "Myriad Pro", "Helvetica Neue", "Helvetica", sans-serif; }

/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 ------------
 ABOUT PAGE
 ------------

 Custom styles for the About page
 Base styles provided by _post.scss

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* About Images
   ----------------------------------- */
/* line 18, ../sass/partials/_about.scss */
.about-book {
  width: 10em; }

/* line 22, ../sass/partials/_about.scss */
.about-fizz {
  width: 10em;
  margin-left: -1.2em; }

/* About Team Member Layout
   ----------------------------------- */
/* line 31, ../sass/partials/_about.scss */
.about-team {
  *zoom: 1;
  max-width: 436.0;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .about-team:after {
    content: "";
    display: table;
    clear: both; }

/* line 35, ../sass/partials/_about.scss */
.team-member {
  text-align: center;
  margin: 2em 0;
  width: 100%;
  float: left;
  margin-right: 0.9009%; }
  /* line 40, ../sass/partials/_about.scss */
  .team-member ul {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0; }

/* line 49, ../sass/partials/_about.scss */
.team-member-portrait > img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 50%; }

/* line 56, ../sass/partials/_about.scss */
.team-member-twitter {
  margin: -1em 0 1em; }

@media (min-width: 37.5em) {
  /* line 62, ../sass/partials/_about.scss */
  .team-member {
    text-align: left;
    margin: 1em 0; }
    /* line 66, ../sass/partials/_about.scss */
    .team-member li {
      display: inline; }

  /* line 72, ../sass/partials/_about.scss */
  .team-member-description {
    margin-top: 0.5em; }

  /* line 76, ../sass/partials/_about.scss */
  .team-member-portrait {
    width: 41.14114%;
    float: left;
    margin-right: 0.9009%; }
    /* line 78, ../sass/partials/_about.scss */
    .team-member-portrait > img {
      width: 80%; }

  /* line 83, ../sass/partials/_about.scss */
  .team-member-description {
    width: 57.95796%;
    float: right; } }
/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 ------------
 NAVIGATION
 ------------

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* line 12, ../sass/partials/_navigation.scss */
nav {
  padding-top: 20px; }
  /* line 16, ../sass/partials/_navigation.scss */
  nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    line-height: 1; }
    @media (min-width: 48em) {
      /* line 16, ../sass/partials/_navigation.scss */
      nav ul {
        text-align: right; } }
    /* line 27, ../sass/partials/_navigation.scss */
    nav ul li {
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      margin-right: 11%; }
      /* line 33, ../sass/partials/_navigation.scss */
      nav ul li:last-child {
        margin-right: 0; }

/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 ------------
 HERO IMAGE
 ------------

 A background image covering the entire screen
 Along with a heading and some sub-text
 All responsive and mobile-first

 Inspiration taken from Playground Inc.
 url: http://playgroundinc.com/

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* line 19, ../sass/partials/_heroimage.scss */
.hero {
  text-align: center;
  color: white;
  padding-top: 5em;
  background-image: url("../img/mountaineer.jpg");
  background-position: left center;
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
  height: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-top: -4em; }
  @media (min-width: 48em) {
    /* line 19, ../sass/partials/_heroimage.scss */
    .hero {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: auto cover;
      height: 31em;
      padding-top: 11em; } }
  /* line 50, ../sass/partials/_heroimage.scss */
  .hero h1 {
    color: white; }
    @media (max-width: 37.5em) {
      /* line 50, ../sass/partials/_heroimage.scss */
      .hero h1 {
        font-size: 3em; } }
  /* line 57, ../sass/partials/_heroimage.scss */
  .hero p {
    line-height: 1.4; }
  /* line 61, ../sass/partials/_heroimage.scss */
  .hero a {
    color: white; }

/* line 66, ../sass/partials/_heroimage.scss */
.more-info {
  font-size: 0.8em;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity, 0.3s, ease;
  -moz-transition: opacity, 0.3s, ease;
  -o-transition: opacity, 0.3s, ease;
  transition: opacity, 0.3s, ease;
  padding-bottom: 0.66666667em;
  margin-bottom: 0; }
  @media (min-width: 48em) {
    /* line 66, ../sass/partials/_heroimage.scss */
    .more-info {
      padding-bottom: 2em; } }
  /* line 85, ../sass/partials/_heroimage.scss */
  .more-info a.icon {
    margin-top: 10px; }

/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 ----------
 FEATURES
 ----------

 Mobile-first, responsive image and text pairs
 That stack to single column at smaller viewports
 Then alternate left-right on a grid

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* line 16, ../sass/partials/_features.scss */
.features {
  margin-top: 3em;
  margin-bottom: 3em; }

/* line 21, ../sass/partials/_features.scss */
.feature {
  padding-top: 2em; }

@media (max-width: 767px) {
  /* line 29, ../sass/partials/_features.scss */
  .feature h2,
  .feature-image {
    text-align: center; } }
@media (min-width: 48em) {
  /* line 37, ../sass/partials/_features.scss */
  .feature-left .feature-image {
    width: 49.45848%;
    float: right; }
  /* line 40, ../sass/partials/_features.scss */
  .feature-left .feature-description {
    width: 49.45848%;
    float: left;
    margin-right: 1.08303%; } }

@media (min-width: 48em) {
  /* line 48, ../sass/partials/_features.scss */
  .feature-right .feature-image {
    width: 49.45848%;
    float: left;
    margin-right: 1.08303%; }
  /* line 51, ../sass/partials/_features.scss */
  .feature-right .feature-description {
    width: 49.45848%;
    float: right; } }

/* line 58, ../sass/partials/_features.scss */
.feature-image {
  margin-bottom: 2em; }

/* line 63, ../sass/partials/_features.scss */
.feature-divider {
  clear: both;
  border: none;
  margin: 0;
  padding: 1em;
  background-color: white; }

/* -------------------------------------------------------------------------
   Adjust individual featured images
   ------------------------------------------------------------------------- */
@media (min-width: 48em) and (max-width: 64.375em) {
  /* line 81, ../sass/partials/_features.scss */
  #feature-img-dialogue,
  #feature-img-simple,
  #feature-img-communicate,
  #feature-img-responsive,
  #feature-img-search {
    margin-top: 2em; } }
@media (min-width: 50em) and (max-width: 64.375em) {
  /* line 88, ../sass/partials/_features.scss */
  #feature-img-responsive,
  #feature-img-search {
    margin-top: 1em; } }
@media (min-width: 75em) {
  /* line 95, ../sass/partials/_features.scss */
  #feature-img-simple,
  #feature-img-dialogue {
    margin-top: -0.5em; } }
@media (min-width: 48em) and (max-width: 75em) {
  /* line 100, ../sass/partials/_features.scss */
  #feature-img-smart {
    margin-top: 6em; } }
@media (min-width: 75em) {
  /* line 100, ../sass/partials/_features.scss */
  #feature-img-smart {
    margin-top: 4em; } }

/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 ------------------
 CUSTOM ICON FONT
 ------------------

 Set up through the awesome icon font app IconMoo
 url: http://icomoon.io/

 The icon font itself is loaded through a Typeplate function
 Which can be edited in the _typeVars.scss module

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* Base icon set-up
   ----------------------------------- */
/* line 24, ../sass/partials/_icons.scss */
[data-icon]:before {
  font-family: 'fizzy-icon-font';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/* Stand-alone icon styles
   ----------------------------------- */
/* line 39, ../sass/partials/_icons.scss */
.icon {
  display: inline-block;
  font-size: 2.5em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  line-height: 1.2;
  text-align: center;
  -webkit-box-shadow: 0 0 0 2px;
  -moz-box-shadow: 0 0 0 2px;
  box-shadow: 0 0 0 2px;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

/* line 53, ../sass/partials/_icons.scss */
.icon:hover {
  opacity: 0.4; }

/* Adjusted styles for specific icons
   ----------------------------------- */
/* line 60, ../sass/partials/_icons.scss */
.icon-twitter {
  padding-right: 0.2em; }

/* line 64, ../sass/partials/_icons.scss */
.icon-mail {
  padding-right: 0.3em; }

/* line 68, ../sass/partials/_icons.scss */
.icon-rocket {
  font-size: 2.2em;
  width: 1.1em;
  height: 1.1em;
  line-height: 1.45; }

/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 -----------------
 RELATED ARTICLE
 -----------------

 A minimal box, at content width, for displaying a blurb
 Meant to go at the end of the page, just before the footer

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* line 16, ../sass/partials/_related-article.scss */
.related-article {
  background-color: #f9f9f7;
  padding: 2em 0;
  margin-top: 2em; }
  /* line 21, ../sass/partials/_related-article.scss */
  .related-article p:last-child {
    margin-bottom: 0; }

/* line 26, ../sass/partials/_related-article.scss */
.related-intro {
  font-family: "freight-sans-pro", "Myriad Pro", "Helvetica Neue", "Helvetica", sans-serif;
  color: #b7b7b7;
  margin-bottom: 1em; }

/*
 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

 --------------------
 GRID WITH CAPTIONS
 --------------------

 Responsive grid layout and caption animations via Codrops

 url: http://tympanus.net/codrops/2013/06/18/caption-hover-effects/

 *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
 */
/* Grid Styles
   ----------------------------------- */
/* line 19, ../sass/partials/_grid-with-captions.scss */
.grid {
  padding: 0 0 4em;
  margin: 0 auto;
  list-style: none;
  text-align: center; }

/* line 26, ../sass/partials/_grid-with-captions.scss */
.grid li {
  display: inline-block;
  width: 98%;
  margin: 0;
  padding: 2% 1%;
  text-align: left;
  position: relative; }

@media (min-width: 48em) {
  /* line 36, ../sass/partials/_grid-with-captions.scss */
  .grid li {
    width: 46%;
    padding: 1% 0; }
    /* line 42, ../sass/partials/_grid-with-captions.scss */
    .grid li:nth-child(odd) {
      padding-right: 1%; }
    /* line 46, ../sass/partials/_grid-with-captions.scss */
    .grid li:nth-child(even) {
      padding-left: 1%; } }
/* line 52, ../sass/partials/_grid-with-captions.scss */
.grid figure {
  margin: 0;
  position: relative; }

/* line 57, ../sass/partials/_grid-with-captions.scss */
.grid figure img {
  max-width: 100%;
  display: block;
  position: relative; }

/* line 63, ../sass/partials/_grid-with-captions.scss */
.grid figcaption {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #333333;
  color: white;
  font-size: 16px;
  text-align: left;
  margin-bottom: 0; }

/* line 79, ../sass/partials/_grid-with-captions.scss */
.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: white; }

/* line 85, ../sass/partials/_grid-with-captions.scss */
.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #ff6666;
  color: white; }

/* Caption Styles
   ----------------------------------- */
/* line 101, ../sass/partials/_grid-with-captions.scss */
.grid-caption figure {
  overflow: hidden; }

/* line 105, ../sass/partials/_grid-with-captions.scss */
.grid-caption figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s; }

/* line 110, ../sass/partials/_grid-with-captions.scss */
.no-touch .grid-caption figure:hover img,
.grid-caption figure.cs-hover img {
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
  transform: translate(0px, -50px); }

/* line 114, ../sass/partials/_grid-with-captions.scss */
.grid-caption figcaption {
  opacity: 0;
  -webkit-transform: translate(0px, 100%);
  -moz-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  -o-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -webkit-transition-delay: 0s, 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  -o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s; }

/* line 121, ../sass/partials/_grid-with-captions.scss */
.no-touch .grid-caption figure:hover figcaption,
.grid-caption figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  -o-transition: -o-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s; }
