/* Images
   ----------------------------------- */

figure {
    margin-bottom: 2em;
    text-align: center;
}

figcaption {
    text-align: right;
    font-size: $small-print-size;
    margin-top: 0.5em;
}