---
layout: base
---

<div class="post-list copy-container">

    {% for post in paginator.posts %}
    {% unless post.draft %}
    <section class="index">
        <article class="post-list-item">
            <h2><a href="{{ post.url }}" class="article_title" rel="prefetch" title="{{ post.title }}">{{ post.title }}</a></h2>
            <p class="meta">
                <a href="{{ post.url }}" rel="prefetch" title="{{ post.title }}">
                    <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                </a>
            </p>
            <p>{{ post.excerpt }} &hellip; <a href="{{ post.url }}" rel="prefetch" title="{{ post.title }}" class="read_more">read more</a></p>
        </article>

    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
      {% endif %}
    </section>

</div>