---
layout: base
---

<article class="post copy-container clearfix">

    {% if page.cover_image %}
    <figure class="post-banner">
        <img src="/img/{{ page.cover_image }}" alt="We Buy Shit We Don't Need">
    </figure>
    {% endif %}

    <header class="post-header">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="subtitle">{{ page.subtitle }}</h2>
        {% endif %}
        <p class="meta">
            <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            {% if page.category %}
            <span class="categories">Published in {{ page.categories | join: ', ' }}</span>
            {% endif %}
        </p>
    </header>

    <div class="post-content">
        {{ content }}
        {% include _social.html %}
    </div>

    <div class="post-footer">
        <ol class="footnotes">
            <li id="fn-item1">This is a footnote.<a href="#fn-return1">↩</a></li>
            <li id="fn-item2">And so is this. Pretty cool, eh?<a href="#fn-return2">↩</a></li>
        </ol>
        {% if page.tag %}
        <p>
            Tagged as: {{ page.tags | join: ', ' }}
        </p>
        {% endif %}
    </div>

</article>

<aside class="related-article clearfix">
    <div class="copy-container">
        <p class="related-intro">We've also been thinking about:</p>
        <h2><a href="http://trentwalton.com/2013/04/10/reorganization/" class="article_title" rel="bookmark" title="Permanent Link to Reorganization">Reorganization</a></h2>
        <p>Process is often shaped by how teams are organized. In the context of designing for the multi-device web, the high level of iteration and communication required to build a modern website is rendering the assembly line approach obsolete… <a href="http://trentwalton.com/2013/04/10/reorganization/">read more</a></p>
    </div>
</aside>